<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

This is Edit page of CompWarehouse

<div>
    <form method="post">
        <input type="text" name="name" size="25" required th:field="*{computerPartWeWantToEdit.name}" />
        <input type="text" name="amount" required th:field="*{computerPartWeWantToEdit.amount}" />
        <input type="text" size="25" name="mustHave" th:field="*{computerPartWeWantToEdit.mustHave}" />
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>